################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Personal-Portfolio/FileContentIndex/025e6948-a13d-4292-a211-096e22d8500f.vsidx
/.vs/Personal-Portfolio/FileContentIndex
/.vs/Personal-Portfolio/CopilotIndices/17.14.794.21998
/.vs/Personal-Portfolio/v17
/.vs
